<form class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12"
      [formGroup]='editReservationForm'
      (ngSubmit)="onSubmit()">
      
  <!--Display message to the user-->
  <p class="message" *ngIf="dataSaved">{{ message }}</p>
  
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" formControlName='firstName'/>
    <!--Validation message-->
    <span class="help-block"
          *ngIf="editReservationForm.get('firstName').touched && !editReservationForm.get('firstName').valid">{{ errMes }}</span>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName='lastName' />
    <!--Validation message-->
    <span class="help-block"
          *ngIf="editReservationForm.get('lastName').touched && !editReservationForm.get('lastName').valid">{{ errMes }}</span>
  </div>

  <div class="form-group">
    <label>Date From</label>
    <input 
      type="text" 
      class="form-control" 
      formControlName='dateFrom' 
      placeholder="yyyy-mm-dd" />
      <!--Validation messages-->
    <div *ngIf="editReservationForm.get('dateFrom').invalid && (editReservationForm.get('dateFrom').touched || editReservationForm.get('dateFrom').dirty)">
      <span class="help-block" *ngIf="editReservationForm.get('dateFrom').errors?.required">{{ errMes }}</span>
      <span class="help-block" *ngIf="editReservationForm.get('dateFrom').errors?.pattern">{{ regexDate }}</span>
    </div>
  </div>

  <div class="form-group">
    <label>Date To</label>
    <input 
      type="text" 
      class="form-control" 
      formControlName='dateTo' 
      placeholder="yyyy-mm-dd" />
      <!--Validation messages-->
    <div *ngIf="editReservationForm.get('dateTo').invalid && (editReservationForm.get('dateTo').touched || editReservationForm.get('dateTo').dirty)">
      <span class="help-block" *ngIf="editReservationForm.get('dateTo').errors?.required">{{ errMes }}</span>
      <span class="help-block" *ngIf="editReservationForm.get('dateTo').errors?.pattern">{{ regexDate }}</span>
    </div>
  </div>

  <div class="form-group">
    <label>Number of People</label>
    <input type="text" class="form-control" formControlName='numOfPeople' />
    <!--Validation messages-->
    <div *ngIf="editReservationForm.get('numOfPeople').invalid && (editReservationForm.get('numOfPeople').touched || editReservationForm.get('numOfPeople').dirty)">
      <span class="help-block" *ngIf="editReservationForm.get('numOfPeople').errors?.required">{{ errMes }}</span>
      <span class="help-block" *ngIf="editReservationForm.get('numOfPeople').errors?.pattern">{{ regexErr }}</span>
    </div>
  </div>

  <div class="form-group">
    <label>Number of Rooms</label>
    <input type="text" class="form-control" formControlName='numOfRooms' />
    <!--Validation messages-->
    <div *ngIf="editReservationForm.get('numOfRooms').invalid && (editReservationForm.get('numOfRooms').touched || editReservationForm.get('numOfRooms').dirty)">
      <span class="help-block" *ngIf="editReservationForm.get('numOfRooms').errors?.required">{{ errMes }}</span>
      <span class="help-block" *ngIf="editReservationForm.get('numOfRooms').errors?.pattern">{{ regexErr }}</span>
    </div>
  </div>
  <div class="row">
   <div class="col-sm-12">
     <button type="submit" class="edit" [disabled]="!editReservationForm.valid">{{ editMode ? 'Update Reservation' : 'Add Reservation' }}</button>
   </div>
  </div>
</form>

